---
layout: default
section: documentation
---

<div class="menu documentation">
    <ul>
        <li><a href="{{ site.root }}/api"{% if page.stub == 'api' %} class="active"{% endif %}>API<span></span></a>
            <ul>
                <li><a href="{{ site.root }}/api/auth.html"{% if page.stub == 'api-auth' %} class="active"{% endif %}>Authentication<span></span></a></li>
                <!--li><a href="{{ site.root }}/api/projects.html"{% if page.stub == 'api-projects' %} class="active"{% endif %}>Project Provisioning<span></span></a></li-->
<li><a href="{{ site.root }}/api/projects-create.html"{% if page.stub == 'api-projects-create' %} class="active"{% endif %}>Project<span></span></a></li>
<li><a href="{{ site.root }}/api/user.html"{% if page.stub == 'api-user' %} class="active"{% endif %}>User<span></span></a></li>
<li><a href="{{ site.root }}/api/manage-ldm.html"{% if page.stub == 'api-ldm' %} class="active"{% endif %}>Data Model<span></span></a></li>
<li><a href="{{ site.root }}/api/notifications.html"{% if page.stub == 'api-notifications' %} class="active"{% endif %}>Notifications<span></span></a></li>
<li><a href="{{ site.root }}/api/metric.html"{% if page.stub == 'api-metric' %} class="active"{% endif %}>Metric<span></span></a></li>
<li><a href="{{ site.root }}/api/report.html"{% if page.stub == 'report' %} class="active"{% endif %}>Report<span></span></a></li>
<li><a href="{{ site.root }}/api/report-definition.html"{% if page.stub == 'report-definition' %} class="active"{% endif %}>Report Definition<span></span></a></li>
<li><a href="{{ site.root }}/api/metadata.html"{% if page.stub == 'metadata' %} class="active"{% endif %}>Metadata<span></span></a></li>
<li><a href="{{ site.root }}/api/mandatory-user-filter.html"{% if page.stub == 'api-muf' %} class="active"{% endif %}>Mandatory User Filters<span></span></a></li>
<li><a href="{{ site.root }}/api/dependency.html"{% if page.stub == 'api-dependency' %} class="active"{% endif %}>Dependency<span></span></a></li>
<li><a href="{{ site.root }}/api/identifiers.html"{% if page.stub == 'api-identifiers' %} class="active"{% endif %}>Object Identifiers<span></span></a></li>
                <!--li><a href="{{ site.root }}/api/upload.html"{% if page.stub == 'api-upload' %} class="active"{% endif %}>Data Upload</a></li-->
                <!--li><a href="{{ site.root }}/api/model.html"{% if page.stub == 'model' %} class="active"{% endif %}>Data Modeling<span></span></a></li-->
                
            </ul>

     <li><a href="{{ site.root }}/api/maql-ddl.html"{% if page.stub == 'api-maql-ddl' %} class="active"{% endif %}>MAQL<span></span></a>
             <ul>
                <li><a href="{{ site.root }}/docs/maql.html"{% if page.stub == 'docs-maql-metrics' %} class="active"{% endif %}>MAQL &mdash; Metrics<span></span></a></li>
                <li><a href="{{ site.root }}/docs/maql-refguide.html"{% if page.stub == 'docs-maql-refguide' %} class="active"{% endif %}>MAQL &mdash; Reference Guide<span></span></a></li>
            </ul>
     </li>
     <li><a href="{{ site.root }}/gooddata-cl"{% if page.stub == 'gooddata-cl' %} class="active"{% endif %}>GoodData CL<span></span></a>
            <ul>
                <li><a href="{{ site.root }}/gooddata-cl/install.html"{% if page.stub == 'gooddata-cl-install' %} class="active"{% endif %}>Installation<span></span></a></li>
                <li><a href="{{ site.root }}/gooddata-cl/documentation.html"{% if page.stub == 'gooddata-cl-basics' %} class="active"{% endif %}>Basic Usage<span></span></a></li>
                <li><a href="{{ site.root }}/gooddata-cl/xml-config.html"{% if page.stub == 'gooddata-cl-xml' %} class="active"{% endif %}>Schema XML syntax<span></span></a></li>
                <li><a href="{{ site.root }}/gooddata-cl/cli-commands.html"{% if page.stub == 'gooddata-cl-commands' %} class="active"{% endif %}>Runtime Commands<span></span></a></li>
                <li><a href="{{ site.root }}/gooddata-cl/architecture.html"{% if page.stub == 'gooddata-cl-architecture' %} class="active"{% endif %}>Source Code Architecture<span></span></a></li>
            </ul>
      </li>
        <li><a href="{{ site.root }}/gooddata-cl/examples/"{% if page.stub == 'gooddata-cl-examples' %} class="active"{% endif %}>Usage Examples<span></span></a>
            <ul>
                <li><a href="{{ site.root }}/gooddata-cl/examples/quotes/"{% if page.stub == 'gooddata-cl-examples-quotes' %} class="active"{% endif %}>Basic Example (Quotes)<span></span></a></li>
                <li><a href="{{ site.root }}/gooddata-cl/examples/hr/"{% if page.stub == 'gooddata-cl-examples-hr' %} class="active"{% endif %}>Multiple Datasets (HR)<span></span></a></li>
                <li><a href="{{ site.root }}/gooddata-cl/examples/ga/"{% if page.stub == 'gooddata-cl-examples-ga' %} class="active"{% endif %}>Analyzing Google Analytics<span></span></a></li>
                <li><a href="{{ site.root }}/gooddata-cl/examples/sfdc/"{% if page.stub == 'gooddata-cl-examples-sfdc' %} class="active"{% endif %}>Analyzing Salesforce<span></span></a></li>
                <li><a href="{{ site.root }}/gooddata-cl/examples/jdbc/"{% if page.stub == 'gooddata-cl-examples-jdbc' %} class="active"{% endif %}>Using JDBC Driver<span></span></a></li>
                <li><a href="{{ site.root }}/gooddata-cl/examples/forex/"{% if page.stub == 'gooddata-cl-examples-forex' %} class="active"{% endif %}>Date &amp; Time Support (Forex)<span></span></a></li>
            </ul>
        </li>
        <li><a href="{{ site.root }}/docs/sso.html"{% if page.stub == 'docs-sso' %} class="active"{% endif %}>Single Sign-On<span></span></a>
			<ul>
				<li><a href="{{ site.root }}/docs/sso-code-examples.html"{% if page.stub == 'docs-sso-java' %} class="active"{% endif %}>SSO Code Examples & Libraries<span></span></li>
			</ul>
	    </li>
	    <li><a href="{{ site.root }}/docs/user-provisioning.html"{% if page.stub == 'docs-provisioning' %} class="active"{% endif %}>User Provisioning<span></span></li>
		<li><a href="{{ site.root }}/docs/data-storage.html"{% if page.stub == 'docs-ftp' %} class="active"{% endif %}>Using FTP Storage<span></span></li>
        <li><a href="{{ site.root }}/faq.html"{% if page.stub == 'faq' %} class="active"{% endif %}>FAQ<span></span></a></li>
    </ul>
</div>

<div id="documentation">
    {{content}}
</div>
